<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gk.CodeSinger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <gk.CodeSinger.Properties.Settings>
            <setting name="SingTemplate" serializeAs="String">
                <value>/*
 *  "gk.CodeSigner", Utility to add license information to project files.
 *  Copyright (C) 2015-2019  Igor Tyulyakov aka g10101k, g101k. Contacts: &lt;g101k@mail.ru&gt;
 *  
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 */
</value>
            </setting>
            <setting name="SingPatternSearch" serializeAs="String">
                <value>\/\*(.*?)\*\/\r\n</value>
            </setting>
            <setting name="SingSerarchRegexOptions" serializeAs="String">
                <value>531</value>
            </setting>
        </gk.CodeSinger.Properties.Settings>
    </applicationSettings>
</configuration>